.login-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f5f5f5;
  gap: 20rem;
  padding: 20px;
}

.login-page-logo img {
  height: 292px;
  width: 176px;
}

.login-page-form {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form-heading h1 {
  font-size: 28px;
  font-weight: 600;
  color: #4f4f4f;
  text-align: center;
  line-height: 1.2;
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-fields input {
  height: 60px;
  width: 364px;
  border-radius: 17px;
  border: 1px solid #ddd;
  padding: 0 15px;
  font-size: 16px;
  color: #4f4f4f;
}

.login-fields input::placeholder {
  color: #aaa;
}

.login-button {
  height: 60px;
  width: 364px;
  border-radius: 17px;
  background-color: black;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}

.login-button:hover {
  cursor: pointer;
  background-color: var(--tron-secondary-color);
}

.login-button-icon {
  color: white;
  font-size: 18px;
}
.error-msg {
  color: red;
}

/*mediaQueries*/
@media (max-width: 768px) {
  .login-page-container {
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
  }

  .login-page-logo img {
    height: 200px;
    width: 120px;
  }

  .login-page-form {
    padding: 20px;
    width: 90%;
    max-width: 400px;
  }

  .login-form-heading h1 {
    font-size: 22px;
  }

  .login-fields input {
    width: 100%;
    height: 50px;
    font-size: 14px;
  }

  .login-button {
    width: 60%;
    height: 50px;
    font-size: 14px;
  }

  .login-button-icon {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .login-page-logo img {
    height: 150px;
    width: 90px;
  }

  .login-page-form {
    padding: 15px;
  }

  .login-form-heading h1 {
    font-size: 18px;
  }

  .login-fields input {
    height: 45px;
    font-size: 12px;
  }

  .login-button {
    height: 45px;
    font-size: 12px;
  }
}
